	<div class="col-xs-12">
		<% if @model == 'user' %>
			<h3>Users search for <%= %Q!"#{@content}"! %></h3>
		<% else %>
			<h3>Books search for <%= %Q!"#{@content}"! %></h3>
		<% end %>
		<!--users一覧 -->
		<table class="table">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
					<th colspan="4"></th>
				</tr>
			</thead>

			<tbody>
				<% if @model == 'user' %>
					<% @datas.each do |user| %>
						<%= render 'users/user_index', user: user %>
					<% end %>
				<% else %>
					<% @datas.each do |book| %>
						<%= render 'books/book_index', book: book %>
					<% end %>
				<% end %>
			</tbody>
		</table>
		<!--users一覧 -->
	</div>
